<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel = "stylesheet" href = "default.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="my-agenda">
	<div id="title-container">
        <a href="/home#!"><h1 alt="Site title" id="title"><%=title %></h1></a>
        <a href="/logout"><h3 alt="Log out?" id="logout_button">Log out</h3></a>
    </div>
	<section ng-view class="main-section"></section>

	<!-- Angular scripts -->
	<script type="text/javascript" src="/js/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/js/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

	<!--Events module -->
	<script type="text/javascript" src="/events/events.client.module.js"></script>
    <script type="text/javascript" src="/events/controllers/events.client.controller.js"></script>
    <script type="text/javascript" src="/events/services/events.client.service.js"></script>
    <script type="text/javascript" src="/events/config/events.client.routes.js"></script>

    <!-- Users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<!-- Main Angular application file -->
	<script type="text/javascript" src="/application.js"></script>
	<!-- -->

	<div class="jumbotron">
		<div class="container">
			<h1>Welcome <%= user.name %>!</h1>

			<% for(var i in messages) { %>
            <div class="flash"><%= messages[i] %></div>
            <% } %>
            <br>
            <h2><b>Events</b></h2>
            <% if (user.events) { %>
            <h3>Upcoming :</h3>
			 	<% for(i in user.events) {%>
				<a alt="Edit selected event" href="/#!/events/<%= user.events[i]._id %>/edit"> 
					<h3><b><%= user.events[i].title %></b></h3>
				</a>
				<h4><%= user.events[i].date %></h4>
				<br>
			<% 		} 
				} else{ %> 
				<h4>No events found</h4>
				<% } %>
			<br>
			<a class="btn btn-lg" alt="Add Event Button" href="/#!/events/create"><b>Add Event</b></a>
		</div>
	</div>
</body>
</html>